<bryntum-demo-header
    link = "../../../../../#example-frameworks-angular-resource-histogram"
></bryntum-demo-header>

<div class = "demo-toolbar">
    <bryntum-button
        icon = "b-icon b-icon-search-plus"
        text = "Zoom in"
        (onAction) = "onZoomIn()"
    ></bryntum-button>
    <bryntum-button
        icon = "b-icon b-icon-search-minus"
        text = "Zoom out"
        (onAction) = "onZoomOut()"
    ></bryntum-button>
    <div class = "spacer"></div>
    <bryntum-checkbox
        text = "Show bar texts"
        tooltip = "Check to show resource allocation in the bars"
        (onAction) = "onCheckboxAction($event, 'showBarText')"
    ></bryntum-checkbox>
    <bryntum-checkbox
        text = "Show max allocation"
        tooltip = "Check to display max resource allocation line"
        checked = true
        (onAction) = "onCheckboxAction($event, 'showMaxEffort')"
    ></bryntum-checkbox>
    <bryntum-checkbox
        text = "Enable bar tooltip"
        tooltip = "Check to show tooltips when moving mouse over bars"
        checked = true
        (onAction) = "onCheckboxAction($event, 'showBarTip')"
    ></bryntum-checkbox>
</div>

<div id = "container">
    <bryntum-scheduler-pro
        #scheduler
        [startDate] = "schedulerProConfig.startDate"
        [endDate] = "schedulerProConfig.endDate"
        [viewPreset] = "schedulerProConfig.viewPreset"
        [eventStyle] = "schedulerProConfig.eventStyle"
        [tickSize] = "schedulerProConfig.tickSize"
        [columns] = "schedulerProConfig.columns"
        [resourceImagePath] = "schedulerProConfig.resourceImagePath"
        [project] = "schedulerProConfig.project"
    ></bryntum-scheduler-pro>
    <bryntum-splitter></bryntum-splitter>
    <bryntum-resource-histogram
        #histogram
        [project] = "histogramConfig.project"
        [columns] = "histogramConfig.columns"
        [rowHeight] = "histogramConfig.rowHeight"
        [showBarTip] = "histogramConfig.showBarTip"
        [resourceImagePath] = "histogramConfig.resourceImagePath"
        [scheduleTooltipFeature] = "histogramConfig.features.scheduleTooltip"
    ></bryntum-resource-histogram>
</div>
